
<div class="container-fluid  ">
    <div class="row mt-5 ">
        <div class="col ">
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-dark">Register</h4>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email"[(ngModel)]="email"  placeholder="Enter email">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password"[(ngModel)]="password" placeholder="Enter password">
                            </div>

                            <button type="button"(click)="register()" class="btn btn-info">Register</button>
                            <div class="row">
                                <div class="col-8">
                                    <a style="text-decoration:none" href="/login">Already have any Account?<span class="text-danger">Login</span></a>
                                </div>
                               
                            </div>



                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

