
<div class="container-fluid  ">
    <div class="row mt-5 ">
        <div class="col ">
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-danger">hello user</h4>
                            </div>
                            <div class="mb-3">
                                <p class="text-muted">we have sent link to your email id, please verify it! And then login</p>
                            </div>
                          
                          
                            <button [routerLink]="['/login']" class="btn btn-success">Login </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



